## DATA PREPROCESSING AND DATA CLEANING

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Dataset.csv')
df.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure

In [3]:
df.tail()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,No Failure
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,No Failure
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,No Failure
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,No Failure
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,No Failure

In [4]:
del df['UDI']
del df['Product ID']

In [5]:
df.describe()

,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,300.004930,310.005560,1538.776100,39.986910,107.951000,0.033900
std,2.000259,1.483734,179.284096,9.968934,63.654147,0.180981
min,295.300000,305.700000,1168.000000,3.800000,0.000000,0.000000
25%,298.300000,308.800000,1423.000000,33.200000,53.000000,0.000000
50%,300.100000,310.100000,1503.000000,40.100000,108.000000,0.000000
75%,301.500000,311.100000,1612.000000,46.800000,162.000000,0.000000
max,304.500000,313.800000,2886.000000,76.600000,253.000000,1.000000

In [6]:
df.shape

(10000, 8)

In [7]:
df.size

80000

In [8]:
df.columns

Index(['Type', 'Air temperature [K]', 'Process temperature [K]',
       'Rotational speed [rpm]', 'Torque [Nm]', 'Tool wear [min]', 'Target',
       'Failure Type'],
      dtype='object')

In [9]:
df.isnull().sum()

Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Target                     0
Failure Type               0
dtype: int64

In [10]:
df = df.dropna()

In [11]:
df['Type'].unique()

array(['M', 'L', 'H'], dtype=object)

In [12]:
df.describe()

,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,300.004930,310.005560,1538.776100,39.986910,107.951000,0.033900
std,2.000259,1.483734,179.284096,9.968934,63.654147,0.180981
min,295.300000,305.700000,1168.000000,3.800000,0.000000,0.000000
25%,298.300000,308.800000,1423.000000,33.200000,53.000000,0.000000
50%,300.100000,310.100000,1503.000000,40.100000,108.000000,0.000000
75%,301.500000,311.100000,1612.000000,46.800000,162.000000,0.000000
max,304.500000,313.800000,2886.000000,76.600000,253.000000,1.000000

In [13]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
k=['Type','Failure Type']
for i in k:
    df[i]=l.fit_transform(df[i]).astype(int)

In [14]:
df.corr()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
Type,1.000000,0.017599,0.013444,-0.002693,0.004011,-0.003930,-0.005152,-0.008249
Air temperature [K],0.017599,1.000000,0.876107,0.022670,-0.013778,0.013853,0.082556,-0.025327
Process temperature [K],0.013444,0.876107,1.000000,0.019277,-0.014061,0.013488,0.035946,-0.004600
Rotational speed [rpm],-0.002693,0.022670,0.019277,1.000000,-0.875027,0.000223,-0.044188,0.079407
Torque [Nm],0.004011,-0.013778,-0.014061,-0.875027,1.000000,-0.003093,0.191321,0.031737
Tool wear [min],-0.003930,0.013853,0.013488,0.000223,-0.003093,1.000000,0.105448,0.111619
Target,-0.005152,0.082556,0.035946,-0.044188,0.191321,0.105448,1.000000,0.470541
Failure Type,-0.008249,-0.025327,-0.004600,0.079407,0.031737,0.111619,0.470541,1.000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Type                     10000 non-null  int32
 1   Air temperature [K]      10000 non-null  float64
 2   Process temperature [K]  10000 non-null  float64
 3   Rotational speed [rpm]   10000 non-null  int64
 4   Torque [Nm]              10000 non-null  float64
 5   Tool wear [min]          10000 non-null  int64
 6   Target                   10000 non-null  int64
 7   Failure Type             10000 non-null  int32
dtypes: float64(3), int32(2), int64(3)
memory usage: 547.0 KB

In [16]:
pd.crosstab(df["Rotational speed [rpm]"], df["Type"])

Type                    0  1  2
Rotational speed [rpm]
1168                    0  0  1
1181                    0  1  0
1183                    0  0  1
1192                    0  1  0
1200                    0  1  0
...                    .. .. ..
2825                    0  1  0
2833                    0  1  0
2861                    0  1  0
2874                    0  1  0
2886                    0  1  0

[941 rows x 3 columns]

In [17]:
df["Type"].value_counts()

Type
1    6000
2    2997
0    1003
Name: count, dtype: int64

In [18]:
pd.Categorical(df["Rotational speed [rpm]"]).describe()

            counts   freqs
categories
1168             1  0.0001
1181             1  0.0001
1183             1  0.0001
1192             1  0.0001
1200             1  0.0001
...            ...     ...
2825             1  0.0001
2833             1  0.0001
2861             1  0.0001
2874             1  0.0001
2886             1  0.0001

[941 rows x 2 columns]

In [19]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

In [20]:
sum(df.duplicated())

0